body {
  background-color: #eff;
}

table {
  width: 100%;
}

textarea {
  width: 100%;
}

table.diff {
  font-family:Courier;
  font-size: 14px;
  border:medium;
  background-color: white;
}

.diff_header {
  background-color:#e0e0e0;
}

td.diff_header {
  text-align:right;
}

.diff_next {
  background-color:#c0c0c0;
}

.diff_add {
  background-color:#aaffaa;
}

.diff_chg {
  background-color:#ffff77;
}

.diff_sub {
  background-color:#ffaaaa;
}
